!!
!!    welcome to my
!!   .Xresources!
!!

! xterm
!xterm*font: -*-lucidatypewriter-bold-*-*-*-12-*-*-*-*-*-iso8859-1
xterm*font: -bolkhov-vga-medium-r-normal-*-17-120-100-100-c-0-iso10646-1
!xterm*font: -*-fixed-*-r-*-*-16-120-*-*-*-*-iso8859-1
xterm*scaleHeight: 1.05
xterm*geometry: 76x38
xterm*ScrollBar: true
xterm*pointerColor: white
xterm*pointerColorBackground: black
xterm*pointerShape: left_ptr
xterm*cursorBar: true

! xclock
xclock*geometry: 100x100+0-13
xclock*render: false

! oclock
Clock*geometry: 130x130+5-5
Clock*Background: lightcyan
Clock*BorderColor: #000055
Clock*hour: #000055
Clock*jewel: #0000ff
Clock*minute: #0000ba

! all x11 apps scrollbar
*Scrollbar.thickness: 13
*Scrollbar.thumb: None
*Scrollbar.foreground: white
*Scrollbar.background: gray70
*Scrollbar.borderWidth: 3
*ScrollBarBorder: 0

! themes
Xcursor.theme: plan9
