! XTerm
xterm*scrollBar: true
xterm*scrollbar.width: 13
xterm*scrollbar.foreground: #989898
xterm*scrollbar.background: #FFFFFF
XTerm*faceName: DejaVu Sans Mono:bold
XTerm*faceSize: 12
xterm*geometry: 73x32

! XClock
XClock*face: Dejavu Sans:bold:pixelsize=14
XClock*analog: false
XClock*padding: 4
!XClock*background: lightcyan
XClock*background: #EAFFFF
XClock*geometry: 200x65+155+0
XClock*strftime: %a %b %e %I:%H

! XLoad
XLoad*background: #FFEDED
XLoad*foreground: #FFA8A8
XLoad*label: load
XLoad*update: 3
XLoad*geometry: 148x45+0+20
XLoad*font: -*-dejavu sans mono-bold-r-*--14-*-*-*-*-*-*-*

! Cursor theme
Xcursor.theme: plan9
Xcursor.size: 24
