! XTerm
xterm*scrollBar: true
xterm*scrollbar.width: 13
xterm*scrollbar.foreground: #989898
xterm*scrollbar.background: #FFFFFF
xterm*font: -*-lucidatypewriter-bold-*-*-*-15-*-*-*-*-*-iso8859-1
!XTerm*faceName: DejaVu Sans Mono:bold
!XTerm*faceSize: 12
xterm*geometry: 73x35

! XClock
!XClock*face: DejaVu Sans Mono:bold:size=11
XClock*render: false
XClock*font: -*-lucidatypewriter-bold-*-*-*-12-120-*-*-*-*-iso8859-1
XClock*analog: false
XClock*padding: 2
XClock*background: #EAFFFF
XClock*geometry: 200x65+155+0

! XLoad
XLoad*background: #FFEDED
XLoad*foreground: #FFA8A8
XLoad*label: load
XLoad*update: 3
XLoad*geometry: 148x45+0+20
XLoad*font: -*-lucidatypewriter-bold-*-*-*-12-120-*-*-*-*-iso8859-1

! Cursor theme
Xcursor.theme: plan9
Xcursor.size: 24
